.bloco {
    // border: 2px solid black;
    width: 100%;
    height: 100%;
}

.line {
    height: calc(100%/3);
    // height: 44px;
    display: flex;
}

app-bloco-number {
    display: inline-block;
    width: calc(100%/3);
    // width: 100%;
    height: 100%;
}