.number {
    border: 0.5px solid black;
    width: 100%;
    height: 100%;
    font-size: 2rem;
    text-align: center;

    &.selected {
        background-color: gray;
    }

    &.marked {
        background-color: gray;
    }

    &:hover {
        background-color: lightblue;
    }
}

span {
    height: 100%;
}