.tabuleiro {
    // border: 3px solid black;
    width: 30vw;
    height: 30vw;
}

.line {
    height: calc(100%/3);
    // height: 133px;
    display: flex;
}

app-bloco {
    display: inline-block;
    width: calc(100%/3);
    // width: 133px;
    height: 100%;
}

.b-top {
    border-top: 2px solid black;
}

.b-bot {
    border-bottom: 2px solid black;
}

.b-left {
    border-left: 2px solid black;
}

.b-right {
    border-right: 2px solid black;
}