$bloco-extra-border: 2px solid black;
$altura-padrao: 30vw;
$largura-padrao: 30vw;

.tabuleiro {
    width: $largura-padrao;
    height: $altura-padrao;
}

.line {
    height: calc(100%/3);
    display: flex;
}

app-bloco {
    display: inline-block;
    width: calc(100%/3);
    height: 100%;
    border: 1px solid black;
}

.b-top {
    border-top: $bloco-extra-border;
}

.b-bot {
    border-bottom: $bloco-extra-border;
}

.b-left {
    border-left: $bloco-extra-border;
}

.b-right {
    border-right: $bloco-extra-border;
}

.valores {
    width: $largura-padrao;

    ul {
        list-style: none;
        display: flex;
        font-size: 2rem;
        width: 100%;
        padding: 0;
        justify-content: space-between;

        li:hover {
            cursor: pointer;
        }
    }
}